.App {
  text-align: center;
  height: 100%;
}
body {
  /* background: rgb(255,228,253);
  background: linear-gradient(297deg, rgba(255,228,253,0.9248949579831933) 0%, rgba(255,255,255,0.9781162464985994) 50%, rgba(220,237,248,0.9781162464985994) 100%);background-repeat: no-repeat; */
 width: 100%;
 height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
